:root {
    --tb-font-family-default: 'Roboto', sans-serif;
    --tb-font-family-header: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--tb-font-family-default);
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family:var(--tb-font-family-header);
    }
}